@media only screen and (max-width: 700px) {
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.15em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.8em; }
    h6 { font-size: 0.7em; }

    .body-block {
        padding: 10px;
    }

    .icon {
        width: 1em;
        height: 1em;
    }
    .header > .icon {
        width: 1.5em;
        height: 1.5em;
    }

    .controls,
    .lastButtons {
        flex-direction: column;
    }
    .controls > *,
    .lastButtons > * {
        margin: 2px 0;
    }

    /* --- settings panel --- */

    #settings {
        padding: 10px 15px;
    }

    .settings-item {
        margin-top: 5px;
    }
}
