@media only screen and (max-width: 720px) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 1.15rem; }
    h4 { font-size: 1rem; }
    h5 { font-size: 0.8rem; }
    h6 { font-size: 0.7rem; }

    .header, .footer {
        font-size: 0.9rem;
    }

    .body-block {
        padding: 10px;
    }

    #completedTransfers,
    #currentTransfers,
    .filesList {
        font-size: 0.9em;
    }

    .icon {
        width: 1.1em;
        height: 1.1em;
    }
    .header > .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .controls,
    .lastButtons {
        flex-direction: column;
    }
    .lastButtons {
        margin-left: unset;
    }

    div.controls button {
        padding: 6px 0;
    }

    button.with-icon > span.hide-on-desktop {
        display: block;
    }

    /* --- settings panel --- */

    #settings {
        padding: 10px 15px;
    }

    .settings-item {
        margin-top: 5px;
    }
}
