html {
    box-sizing: border-box;
    background-color: #e5e5e5;
    /* font-size: 100%; */
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 15px -5px #000;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.7rem; }

.body-block {
    padding: 15px 20px;
}
.body-block > :first-child {
    margin-top: 0;
}
.body-block > :last-child {
    margin-bottom: 0;
}
.header, .footer {
    background-color: #ebebeb;
    font-size: 1rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.footer {
    border-top: 1px solid gray;
}
.header > * {
    margin-left: 10px;
}
.header > *:first-child {
    margin: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}
h1, h2 {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    overflow-x: auto;
}
table th,
table td {
    padding: 4px 8px;
    text-align: left;
}
td > progress {
    width: 100%;
}
#currentTransfers > table td:nth-last-child(2) {
    width: 100%;
}
#currentTransfers > table th:first-child,
#currentTransfers > table td:first-child {
    text-align: right;
}
#currentTransfers > table td:nth-child(2) {
    min-width: 50%;
}

#completedTransfersBody > tr > td:first-child {
/*#completedTransfersBody > tr > td:last-child {*/
    font-family: "Courier New", Courier, monospace;
}

#completedTransfers > table,
#completedTransfers > table td:nth-last-child(2) {
    width: 100%;
}
#currentTransfers > table td,
#completedTransfers > table td:first-child,
#completedTransfers > table td:last-child {
    white-space: nowrap;
}
.canBeLong,
#currentTransfers > table td.canBeLong {
    white-space: pre-line;
}
#completedTransfers > table td:nth-child(2) {
    text-align: center;
}
#completedTransfersBody {
    color: #555;
}
#completedTransfersBody > tr:hover {
    background-color: #ebebeb;
}

#currentTransfers {
    max-height: 300px;
}
#completedTransfers {
    max-height: 700px;
}
#currentTransfers, #completedTransfers {
    margin-top: 15px;
    overflow-y: auto;
    /* padding: 4px 8px; */
}

td > img {
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
}
.icon {
    width: 1.2em;
    height: 1.2em;
}
.header > .icon {
    width: 2rem;
    height: 2rem;
}

div.controls button,
div.input-query button,
div.input-query input {
    padding: 4px 6px;
}

button.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button.with-icon > span.hide-on-desktop {
    display: none;
}

pre {
    padding: 8px 12px;
    background-color: #ebebeb;
    border-radius: 0.25em;
}

#files {
    display: flex;
    justify-content: space-between;
    margin: 15px -5px -5px -5px;
    overflow-x: auto;
}
#files > * {
    margin: 5px;
}
.filesPanelWrapper {
    min-width: 300px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
}
.filesPanel {
    margin-top: 5px;
    border: 1px solid #ccc;
    flex: 1 0;
}
.filesPanel select {
    padding: 3px 6px;
}
.panelFilesContainer {
    max-height: 700px;
    margin-top: 4px;
    padding: 5px 0;
    overflow-y: auto;
}
.filesList {
    display: flex;
    flex-direction: column;
}
.filesList > * {
    margin: 2px 0;
}

.file-list-item {
    display: flex;
    padding: 0 5px;
    align-items: center;
}
.file-list-item > input {
    margin: 0 5px;
    flex-shrink: 0;
}
.fileLine {
    flex: 1 0;
    display: flex;
    align-items: center;
    padding: 10px;
}
.fileLine > .icon {
    flex-shrink: 0;
}
.fileLine > p {
    margin: 0 0 0 10px;
}
.folderLine:hover {
    background-color: #ebebeb;
    cursor: pointer;
}
.fileLine > p > span.path-hint {
    color: gray;
}

.filesPanelHeader {
    display: flex;
    justify-content: space-between;
}
.filesPanelHeader > div {
    padding-top: 2px;
    padding-right: 6px;
    font-size: 0.8rem;
    color: #555;
}
.filesCount {
    font-weight: bold;
}

.loadingAnimation {
    width: 1.5em;
    height: 1.5em;
    margin-left: 15px;
    border: 0.25em solid #f3f3f3;
    border-top: 0.25em solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.controls,
.input-query {
    display: flex;
}
.controls,
.input-query,
.lastButtons {
    gap: 4px;
}

.input-query {
    display: none;
}
.input-query > input {
    flex-grow: 1;
}
.lastButtons {
    display: flex;
    margin-left: auto;
}

#currentTransfersBody img {
    cursor: pointer;
}

#indicator-gui-frozen {
    display: none;
    cursor: help;
}

/* --- settings panel --- */

#settings {
    display: none;
    background-color: #f1f1f1;
    border-bottom: 1px solid gray;
    padding: 15px 20px;
}

#settings * {
    color: #4c4c4c;
}
#settings *:not(h1, h2, h3, h4, h5, h6) {
    font-size: 0.85rem;
}

.settings-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.settings-item > input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
.settings-item > * {
    margin-left: 4px;
}
.settings-item > *:first-child {
    margin-left: 0;
}
.settings-item > button {
    padding: 4px 8px;
}

