html {
    box-sizing: border-box;
    background: #e5e5e5;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 15px -5px #000;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

.body-block {
    padding: 15px 20px;
}
.body-block > :first-child {
    margin-top: 0;
}
.body-block > :last-child {
    margin-bottom: 0;
}
.header, .footer {
    background: #ebebeb;
}
.header {
    margin-bottom: 10px;
}
.footer {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}
h1, h2 {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    overflow-x: auto;
}
table th,
table td {
    padding: 4px 8px;
    text-align: left;
}
#currentTransfers > table td:nth-last-child(2) {
    width: 100%;
}
td > progress {
    width: 100%;
}

#completedTransfers > table,
#completedTransfers > table td:nth-last-child(2) {
    width: initial;
}
#currentTransfers > table td,
#completedTransfers > table td:first-child,
#completedTransfers > table td:last-child {
    white-space: nowrap;
}

#currentTransfers {
    max-height: 120px;
}
#currentTransfers, #completedTransfers {
    margin-top: 15px;
    overflow-y: auto;
    /* padding: 4px 8px; */
}

td > img {
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
}
img.icon {
    width: 1.5em;
    height: 1.5em;
}

pre {
    padding: 8px 12px;
    background: #ebebeb;
    border-radius: 0.25em;
}

#files {
    display: flex;
    justify-content: space-between;
    margin: 15px -5px -5px -5px;
    overflow-x: auto;
}
#files > * {
    margin: 5px;
}
.filesPanelWrapper {
    min-width: 300px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
}
.filesPanel {
    margin-top: 5px;
    border: 1px solid #ccc;
    flex: 1 0;
    overflow-y: auto;
}
.filesPanel > select {
    padding: 3px;
}
.filesList {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    padding: 5px 0;
}
.filesList > * {
    margin: 2px 0;
}

.file-list-item {
    display: flex;
    padding: 0 5px;
}
.file-list-item input {
    margin: 0 5px;
}
.fileLine {
    flex: 1 0;
    display: flex;
    align-items: center;
    padding: 10px;
}
.fileLine > p {
    margin: 0 0 0 10px;
}
.folderLine:hover {
    background: #ebebeb;
    cursor: pointer;
}

.filesPanelHeader {
    display: flex;
    justify-content: space-between;
}
.filesPanelHeader > div {
    padding-top: 2px;
    padding-right: 6px;
    font-size: 80%;
    color: #555;
}
.filesCount {
    font-weight: bold;
}

.loadingAnimation {
    width: 1.5em;
    height: 1.5em;
    margin-left: 15px;
    border: 0.25em solid #f3f3f3;
    border-top: 0.25em solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.controls {
    display: flex;
}

#currentTransfersBody img {
    cursor: pointer;
}
