/.github/          export-ignore

/docker/           export-ignore

/.gitignore        export-ignore
/.gitattributes    export-ignore

/CLAUDE.md         export-ignore
/.claude/          export-ignore

/*.sublime-project export-ignore

/screenshot.png    export-ignore
/cosign.pub        export-ignore
